
<div class="row">
  <div class="col-md-5">
    <h2>{{receta.nombre}}</h2>
    <a class="thumbnail">
      <img class="img-rounded" src="{{receta.foto}}" alt="{{receta.nombre}}" data-toggle="modal" data-target="#modalFoto">
      <img [src]=" (receta.isGlutenFree) ? 'assets/img/gluten_free_icon.png' : 'assets/img/gluten_icon.png' " alt="info gluten" class="icono-gluten">
    </a>
    <p id="pieFoto">
      <span class="glyphicon glyphicon-heart" aria-hidden="true" (click)="sumLike()"> {{receta.likes}}</span>
      <span id="cocinero">By {{receta.cocinero}}</span>
    </p>
    
  </div>
  
  <div class="col-md-7">
      <h2>Ingredientes</h2>
    <ul class="list-group">
      <li class="list-group-item" *ngFor='let ingrediente of receta.ingredientes'>{{ingrediente}}</li>
    </ul>
  </div> 
</div>

<div id="recetaDesc">
  <p>{{receta.descripcion}}</p>
</div>
  
<!-- Modal -->
<div class="modal fade" id="modalFoto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{receta.nombre}}</h4>
      </div>
      <div class="modal-body">
        <img class="img-rounded" src="{{receta.foto}}" alt="{{receta.nombre}}">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

