/* HOJA DE ESTILOS DE CONCESIONARIO*/

/* .catalogo {

    display: flex;

    li {
        list-style: none;
        background-color: steelblue;
        color: snow;
        padding: 3px 5px;
        margin: 5px;
        border: 2px solid slateblue; 
    }
    
}
 */
.row {
    margin: 0; 
}

#catalogo .panel-body {
    padding: 0;
}

.panel {
    padding: 0;
}

.list-group {
    ul {
        list-style: none;
    }
}

.panel-body {
    display: flex;
    justify-content: space-around;
}

// Coches seleccionados
%seleccionado {
    border-radius: 5px;
    margin: 2px;
    padding-top: 15px; 
}

.primario {
    @extend %seleccionado;
    border: 5px solid purple;
}

.secundario {
    @extend %seleccionado;
    border: 5px solid darkgreen;
}
