/* HOJA DE ESTILOS DE CONCESIONARIO*/

/* .catalogo {

    display: flex;

    li {
        list-style: none;
        background-color: steelblue;
        color: snow;
        padding: 3px 5px;
        margin: 5px;
        border: 2px solid slateblue; 
    }
    
}
 */

 .list-group {
     ul {
         list-style: none;
     }
 }

 .panel-body {
    display: flex;
    justify-content: space-around;
 }