<section id="propiedades">
  <h2>Propiedades</h2>

  <p>Componente para aprender sobre las <b>[propiedades]</b> en Angular 2 (página 38 del manual).</p>

  <p [style.backgroundColor]="color">Cambiamos el color de fondo mediante un atributo <code>[style.backgroundColor]="color"</code></p>
  <p [style.color]="'orangered'">Cambiamos el color mediante un literal <code>[style.color]="'orangered'"</code></p>

  <h3>Propiedad [hidden]</h3>
  <p [hidden]="!oculto"><b>VISIBLE</b> - Se puede usar el operador de negación '!' para mostrar el párrafo demiante el atributo --> <code>[hidden]="!oculto"</code>.</p>
  <p [hidden]="oculto"><b>NO VISIBLE</b> - No se muestra mediante CSS <code>display:none</code>.</p>

  <h3>Propiedad [href]</h3>
  <a [href]="enlace" target="_blank">API Angular2</a>

</section>