
/* .caption {
    p {
        display: flex;
        justify-content: space-between;
    }
} */

.thumbnail {
    min-width: 250px;

    img {
        width: 250px;
        height: 200px;
    }
}

.caption {
    ul {
        list-style: none;
    }
}

.positivo {
    background: cornflowerblue;
}

.negativo {
    background: coral;
}