// Estilos de botón para añadir nueva receta: botón redondo
#btn-add-receta {
    border-radius: 25px;
    width: 35px;
    text-align: center;
    
    span.glyphicon-plus {
        left: -2px;
    }
}

.modal-content {

    color: black;

    // Sección de datos principales
    #datos-nueva-receta {
        width: 50%;

        label {
            width: 25%;
        }

        .form-control-feedback {
            top: 25px;
        }

        #gluten-row {
            display: flex;
            align-items: center;
            label {
                width: 70%;
            }
            .gluten-options {
                align-self: baseline;
            }
        }
    }

    // Sección de carga de la foto
    #foto-nueva-receta {
        width: 50%;

        div#img-nueva-receta {
            width: 100%;
            height: 150px;
            margin-bottom: 10px;
            background-image: url(/assets/img/receta_default.jpg);
            background-size: cover;
            background-position: center;
            overflow: hidden;

            img {
                width: 100%;
            }
        }

        #input-url-foto {
            label {
                width: 13%;
            }

            input {
                width: 85%;
            }
        }
    }

    // Sección descripción
    #desc-nueva-receta {

        .form-control-feedback {
            top: 25px;
        }
        textarea {
            resize: vertical;
        }
    }
}
