<!-- Button trigger modal -->
<button type="button" id="btn-add-receta" class="btn btn-warning" data-toggle="modal" data-target="#modalReceta" title="Añadir nueva receta">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</button>

<!-- Modal -->
<div class="modal fade" id="modalReceta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" id="cerrar-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Nueva receta</h3>
      </div>
      <div class="modal-body">
        <!-- Modo debug -->
        <!-- <p><b>Valores:</b> {{ formulario.value | json }}</p>
        <p><b>Estado:</b> {{ formulario.status | json }}</p> -->
        <!-- 'novalidate' : Haremos las validaciones en TS no en HTML -->
        <form [formGroup]="formulario" (ngSubmit)="submit($event)" novalidate>

          <div class="row">
            <div class="col-xs-6" id="datos-nueva-receta">
              <div [ngClass]="validationStatus(formulario.controls.nombre)" class="form-group has-feedback">
                <label for="form-nombre">Nombre* </label>
                <input id="form-nombre" class="form-control" type="text" formControlName="nombre" placeholder="Nombre" tabindex="1">
                <span *ngIf="formulario.controls.nombre.dirty">
                  <span *ngIf="formulario.controls.nombre.valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                  <span *ngIf="formulario.controls.nombre.invalid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                </span>
                <p *ngIf="formulario.controls.nombre.invalid && formulario.controls.nombre.touched" class="text-danger">*Obligatorio, mínimo 3 letras</p>
              </div>
    
              <div [ngClass]="validationStatus(formulario.controls.cocinero)" class="form-group has-feedback">
                <label for="form-cocinero">Cocinero </label>
                <input id="form-cocinero" class="form-control" type="text" formControlName="cocinero" placeholder="Cocinero" tabindex="2">
                <span *ngIf="formulario.controls.cocinero.dirty">
                  <span *ngIf="formulario.controls.cocinero.valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                  <span *ngIf="formulario.controls.cocinero.invalid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                </span>
                <p *ngIf="formulario.controls.cocinero.invalid && formulario.controls.cocinero.touched" class="text-danger">Mínimo 3 letras</p>
              </div>
    
              <div class="form-group form-inline" id="gluten-row">
                <label for="form-gluten">Apto para celíacos </label>
                <div class="gluten-options">
                  Sí <input id="form-gluten" type="radio" value="true" checked formControlName="isGlutenFree" class="form-control" tabindex="3"> 
                  No <input id="form-gluten" type="radio" value="false" formControlName="isGlutenFree" class="form-control" tabindex="3"> 
                </div>
              </div>
            </div> <!-- END Sección nombre|cocinero|gluten -->

            <div class="col-xs-6" id="foto-nueva-receta">
                <div id="img-nueva-receta">
                  <img [src]="formulario.value.foto" [alt]="formulario.value.nombre" title="foto de la receta" class="img-rounded img-responsive">
                </div>
                <div class="form-group form-inline" id="input-url-foto">
                  <label for="form-foto">Foto </label>
                  <input id="form-foto" type="text" formControlName="foto" class="form-control" placeholder="URL de la foto" tabindex="4"> 
                </div>
            </div>
          </div> <!-- Sección superior -->

          <div id="desc-nueva-receta">
              <div [ngClass]="validationStatus(formulario.controls.descripcion)" class="form-group has-feedback">
                <label for="form-desc">Descripción* </label>
                <textarea id="form-desc" type="text" rows="4" formControlName="descripcion" class="form-control" placeholder="Descripción de la receta (mín. 100 caracteres)" tabindex="5"> </textarea>
                <span *ngIf="formulario.controls.descripcion.dirty">
                  <span *ngIf="formulario.controls.descripcion.valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                  <span *ngIf="formulario.controls.descripcion.invalid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                </span>
                <p *ngIf="formulario.controls.descripcion.invalid && formulario.controls.descripcion.touched" class="text-danger">Mínimo 100 carácteres</p>
              </div>
          </div>

          <div class="sec-ingredientes">
            <label for="form-ingrediente">Ingredientes (mínimo 2)</label>
            <div formArrayName="ingredientes">                                      
              <div *ngFor="let ingrediente of formulario.get('ingredientes').controls; let i = index;">                                       
                  <div [formGroupName]="i" [ngClass]="validationStatus(ingrediente)" class="input-group has-feedback">
                    <input formControlName="nombre" class="ingrediente-input form-control" type="text" placeholder="Nuevo Ingrediente" tabindex={{i+6}}>                        
                    <span class="glyphicon glyphicon-remove-circle" (click)="clickEliminarIngrediente(i)" title="eliminar ingrediente"></span>
                    <span *ngIf="ingrediente.dirty">
                      <span *ngIf="ingrediente.valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                      <span *ngIf="ingrediente.invalid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    </span>
                  </div>                   
              </div>
              <p class="text-danger" *ngIf="formulario.controls.ingredientes.invalid && formulario.controls.ingredientes.dirty">*Escribe el nombre del ingrediente</p>                                        
            </div>
            <button type="button" class="btn btn-primary btn-md" (click)="clickOtroIngrediente()" title="Añadir nuevo ingrediente">
              <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            </button>
          </div>
          <br>
          <em id="info-required-fields">(*) Campos obligatorios.</em>
          <br><br>
          <input type="submit" [disabled]="!formulario.valid" class="btn btn-success btn-block" value="Añadir">
        </form>

      </div>
    </div>
  </div>
</div>